<div id="ListPostContainer">
  <div class="container-post-list">
    <h1>Lista de post</h1>
    <div class="post-list">
    <ng-container *ngIf="!(isLoading$ | async); else loading">
      <app-card-post *ngFor="let post of (post$ | async)" [post]="post"></app-card-post>
    </ng-container>
    <ng-template #loading>
      <app-card-post-sekeleton *ngFor="let i of [1,2,3,4]"></app-card-post-sekeleton>
    </ng-template>
    </div>
  </div>
  <div class="container-filter-user">
    <h1>Filtrado por usuario</h1>
    <app-dropdown-users
      (userSelectedEmmit) = "onUserSelected($event)"
    ></app-dropdown-users>
  </div>
</div>
