<div id="pagination">
  <ng-container *ngIf="paginated$ | async as data">
    <button
      [disabled]="data.currentPage! === 1"
      (click)="prevPage(data.currentPage!)"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <span>
      Página {{ data.currentPage! }} de
      {{ Math.ceil(data.totalItems! / pageSize) }}</span
    >
    <button
      [disabled]="data.currentPage! >= data.totalItems! / pageSize"
      (click)="nextPage(data.currentPage!, data.totalItems!)"
    >
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </ng-container>
</div>
