#card{
  background-color: rgba(105, 117, 101, 0.43);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #ECDFCC;
  max-width: 800px;
  padding: 2rem;
  width: 100%;
  & > .card-header{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  & > .card-body{
    font-size: 2rem;
    text-align: center;
  }
}
