:host{
  width: 100%;
}

#Nav{
  align-items: center;
  background: #190226;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0  5rem;
  gap: 4rem;
  width: 100%;
  & > h1{
    white-space: nowrap;
    font-size: 2rem;
  }
  & > a img{
    width: 3rem;
  }
}

@media (max-width: 600px) {
  #Nav {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    & > .container-filter-user {
      width: 100%;

    }
  }
}


