<div id="DropdownUsersContainer" (document:click)="onDocumentClick($event)">
  <div class="input-user" (click)="activeDropdown()">
    <p [ngStyle]="{color: userSelected ? '#000' : 'grey'}">{{userSelected ?? 'Select user'}}</p>
    <div class="container-svg" [class.rotated]="active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l256 0c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
    </div>
  </div>
  <div class="list-container" *ngIf="active">
        <div class="item-user "
             *ngFor=" let user of (users | async)"
             [class.selectedUser]="userSelected === user.username"
             (click)="selectUser(user)">
           <div class="item">
             <p>{{user.username}} {{user.name}}</p>
             <p class="email">{{user.email}}</p>
           </div>
          <div class="delete" *ngIf="userSelected===user.username" (click)="unSelectUser()">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
          </div>
        </div>
        <div class="item-user-no-hover">
          No existen resultados
        </div>
  </div>
</div>
