:host {
  width: 100%;
}

#DropdownUsersContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  & > .input-user {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 3rem;
    padding: .9rem;
    width: 100%;

    & > p {
      height: 100%;
      width: 100%;
    }

    & > .container-svg {
      transition: transform 0.2s;
      width: 15px;
    }
  }
  & > .list-container{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: 16rem;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    & > .item-user{
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding:.8rem;
      & > .item{
        & > .email{
          color: grey;
          font-size: .7rem;
          font-style: italic;
        }
      }
      & > .delete{
        cursor: pointer;
        width: 1rem;
      }

    }
    & > .item-user-no-hover{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding:.8rem;
    }
    & > .item-user:hover{
      background: rgba(30, 32, 30, 0.29);
    }
  }
}
.selectedUser{
  background: rgba(30, 32, 30, 0.29);
  cursor: default !important;
  font-weight: bold;
}
.rotated{
  transform: rotate(180deg);
}
