<div id="CardPost">
  <div class="card-header">
    <div>
      <p>Titulo:</p>
      <h2>{{ post.title.length > 30 ? post.title.slice(0,30) + '...' : post.title | titlecase}}</h2>
    </div>
    <div class="card-header-user">
      <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
      <p>ID: {{post.userId}}</p>
    </div>
  </div>
    <hr>
  <div class="card-button">
    <p>{{ post.body.length > 100 ? post.body.slice(0,100) + '...' : post.body  }}</p>
    <button (click)="detailPost(post)">Ver</button>
  </div>
</div>
