#CardPostDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
  width: 100%;
  & > .list-comments{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
  }
}
.loader {
  align-items: flex-start;
  aspect-ratio: 1;
  display: flex;
  width: 60px;
}
.loader:before,
.loader:after {
  --g: conic-gradient(from -90deg at 10px 10px, #000000 90deg,#0000 0);
  animation: l20 1s infinite;
  aspect-ratio: 1;
  background: var(--g), var(--g), var(--g);
  content: "";
  filter: drop-shadow(30px 30px 0 #565656);
  flex: 1;
}
.loader:after {
  transform: scaleX(-1);
}
@keyframes l20 {
  0%   {background-position:0     0, 10px 10px, 20px 20px}
  100% {background-position:0     0, 10px 10px, 20px 20px}
  33%  {background-position:10px  10px}
  66%  {background-position:0    20px,10px 10px,20px 0   }
}
